<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="nav::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
</head>
<body>
    
    <section>
        <!-- slider start -->
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/ecom1.png" class="d-block w-100" alt="..." height="500px">
              </div>
              <div class="carousel-item">
                <img src="img/ecom3.jpg" class="d-block w-100" alt="..." height="500px">
              </div>
              <div class="carousel-item">
                <img src="img/ecom2.jpg" class="d-block w-100" alt="..."height="500px">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- slider end -->
        <br>
        <!-- catergory start  -->
        <div class="container">
            <div class="row">
                <p class="text-center fs-4">Category </p>
                <div class="col-md-2">
                    <div class=" card rounded-circle">
                        <div class="card-body text-center">
                            <img src="img/category/mobile.png" width="65%" height="140px">
                            <p>Mobile phones</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class=" card rounded-circle">
                        <div class="card-body text-center">
                            <img src="img/category/pant.png" width="65%" height="140px">
                            <p>Pant</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class=" card rounded-circle">
                        <div class="card-body text-center">
                            <img src="img/category/laptop.jpg" width="65%" height="140px">
                            <p>Laptop</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- category end  -->


    </section>
</body>
</html>